<ul>
    <li><a href="checklist-1.0.schema.json">checklist-1.0.schema.json</a></li>
    <li><a href="checklist-2.0.schema.json">checklist-2.0.schema.json</a></li>
    <li><a href="conf-1.0.schema.json">conf-1.0.schema.json</a></li>
    <li><a href="craftform-1.0.schema.json">craftform-1.0.schema.json</a></li>
    <li><a href="deck-1.0.schema.json">deck-1.0.schema.json</a></li>
    <li><a href="menus-1.0.schema.json">menus-1.0.schema.json</a></li>
    <li><a href="plans-1.0.schema.json">plans-1.0.schema.json</a></li>    
    <li><a href="roles-1.0.schema.json">roles-1.0.schema.json</a></li>
</ul>